{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Movie : {{ movie.title }}</h1>

    <ul>
        <li>Id: {{ movie.id }}</li>
        <li>Country: {{ movie.country }}</li>
        <li>ReleasedAt: {{ movie.releasedAt|date('d M Y') }}</li>
        <li>Genre: {{ movie.genre|join(', ') }}</li>
    </ul>
</div>
{% endblock %}
